/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;  /* Asegura que no haya margen adicional */
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Menú */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;  /* Esto permite que el contenido ocupe el espacio disponible */
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;  /* Distribuye los elementos en columna */
  overflow: auto;  /* Asegura que el contenido extra pueda desplazarse si es necesario */
}

/* Flexbox y layout responsivo */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centrar los elementos */
}

/* Contenedor de personajes y productos */
.character, .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  max-width: 230px; /* Aumenta el ancho máximo */
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Ajuste de las imágenes */
.img-fixed {
  width: 100%;
  height: 280px; /* Aumenta la altura para hacer las imágenes más grandes */
  object-fit: contain; /* Cambia a 'contain' para mostrar toda la imagen */
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

/* Otros ajustes para centrado y flexbox */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
}
